<app-current-task></app-current-task>

<div class="container">
  <div id="task-list-container">
    <div id="tool-bar">
      <mat-form-field appearance="legacy">
        <mat-label>Filtrar por estatus</mat-label>
        <mat-select>
          <mat-option [value]="null">Todas</mat-option>
          <mat-option value="PENDING">Pendientes</mat-option>
          <mat-option value="COMPLETED">Completadas</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="sort-section">
        <mat-form-field appearance="legacy">
          <mat-label>Ordenar por</mat-label>
          <mat-select>
            <mat-option value="desc">Descripción</mat-option>
            <mat-option value="date">Fecha de finalización</mat-option>
            <mat-option value="duration">Duración</mat-option>
            <mat-option value="delay">Duración de la tarea</mat-option>
            <mat-option value="status">Estado</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button>
          <mat-icon>vertical_align_bottom</mat-icon>
        </button>
      </div>

      <mat-form-field class="example-form-field" appearance="legacy">
        <mat-label>Buscar tarea</mat-label>
        <input matInput type="text" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-icon-button
        style="color: rgb(39, 112, 155)"
        matTooltip="Registrar tarea"
        (click)="openDialog()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div id="task-list">
      <mat-card>
        <mat-card-title>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
          obcaecati natus, quisquam sus.
        </mat-card-title>
        <mat-card-subtitle>
          <div class="estimated"><mat-icon>watch_later</mat-icon>120min</div>
          <div class="time-delay"><mat-icon>sports_score</mat-icon><span>2022-22-22 24:24:24.555</span> (125min)</div>
        </mat-card-subtitle>
        <mat-card-content>
          <button mat-icon-button style="color: red" matTooltip="Borrar">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Editar">
            <mat-icon>edit_calendar</mat-icon>
          </button>
          <button mat-icon-button style="color: green" matTooltip="Iniciar">
            <mat-icon>start</mat-icon>
          </button>
          <!-- <mat-icon style="color: rgb(39, 112, 155)" matTooltip="Completada">
            assignment_turned_in
          </mat-icon> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>



  <app-pending-task></app-pending-task>
</div>
