<div class="current-task-container" *ngIf="currentTasks.length > 0">
  <app-current-task
    [task]="task"
    (mapTask)="mapCompletedTask($event)"
    *ngFor="let task of currentTasks"
  >
  </app-current-task>
</div>

<div class="container">
  <div id="task-list-container">
    <div id="tool-bar">
      <mat-form-field appearance="legacy">
        <mat-label>Filtrar por estatus</mat-label>
        <mat-select [(ngModel)]="filter">
          <mat-option value="ALL">Todas</mat-option>
          <mat-option value="PENDING">Pendientes</mat-option>
          <mat-option value="COMPLETED">Completadas</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="sort-section">
        <mat-form-field appearance="legacy">
          <mat-label>Ordenar por</mat-label>
          <mat-select [(ngModel)]="sortBy">
            <mat-option value="desc">Descripción</mat-option>
            <mat-option value="date">Fecha de finalización</mat-option>
            <mat-option value="duration">Duración</mat-option>
            <mat-option value="delay">Duración de la tarea</mat-option>
            <mat-option value="status">Estado</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="this.orderAsc = !this.orderAsc">
          <mat-icon>{{
            orderAsc ? "vertical_align_top" : "vertical_align_bottom"
          }}</mat-icon>
        </button>
      </div>

      <mat-form-field class="example-form-field" appearance="legacy">
        <mat-label>Buscar tarea</mat-label>
        <input
          #searchBox
          [(ngModel)]="search"
          matInput
          type="text"
          (input)="searchTask(searchBox.value)"
        />
        <button
          *ngIf="searchBox.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearInput()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        *ngIf="!savingTask"
        mat-icon-button
        style="color: rgb(39, 112, 155)"
        matTooltip="Registrar tarea"
        (click)="recordNewTask()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>

      <app-spinner *ngIf="savingTask"></app-spinner>

      <button
        *ngIf="!searchingList"
        mat-icon-button
        style="color: rgb(0, 0, 0)"
        matTooltip="Actualizar lista de tareas"
        (click)="refreshList(false)"
      >
        <mat-icon>sync</mat-icon>
      </button>

      <app-spinner *ngIf="searchingList"></app-spinner>
    </div>
    <div id="task-list">
      <app-task
        [task]="task"
        *ngFor="let task of list$ | async"
        (updateList)="loadListManually($event)"
      ></app-task>
    </div>
  </div>

  <app-pending-task (updateList)="loadListManually($event)"></app-pending-task>
</div>
