<div class="current-task-container">
  <mat-card class="current-task">
    <mat-card-title>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
      molestiae.
    </mat-card-title>
    <div class="estimated-time">
      <mat-icon>watch_later</mat-icon>
      <mat-card-subtitle>Estimado: 120 minutos</mat-card-subtitle>
    </div>
    <div class="current-task-footer">
      <div style="display: flex; align-items: center;">
        <mat-icon class="time-icon">timelapse</mat-icon>
      <span>10:35</span>
      </div>
      <button mat-icon-button color="warn" matTooltip="Reiniciar">
        <mat-icon>replay_circle_filled</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Pausar">
        <!-- play_circle_filled -->
        <mat-icon>pause_circle_filled</mat-icon>
      </button>
      <button mat-icon-button class="check-icon" matTooltip="Marcar como completada">
        <mat-icon>check_circle</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
